$white: white;
$black: #222;
$lightgray: lightgray;
$lightgreen: lightseagreen;
$gray: lightslategray;
$red: lightcoral;
$blue: lightblue;

$navbarText: $white;
$navbarBackground: $black;
$navbarBorder: $lightgray;

$fontColor: $white;

$shortDay: $gray;
$meduimDay: $blue;
$longDay: $red;

