$smallMargin: 6px;
$mediumMargin: $smallMargin * 2;
$largeMargin: $smallMargin * 3;

$marginToLeft: 20%;
$marginToCenter: 40%;
$marginToRight: 80%;

$smallFont: 10px;
$mediumFont: $smallFont * 2;
$largeFont: $smallFont * 2.5;
$extraLargeFont: $smallFont * 3.5;

$boldFont: 700;

$smallPadding: 6px;
$mediumPadding: $smallPadding * 2;
$largePadding: $smallPadding * 3;

$borderRaduis: 6px;


$cellSize: 70px;

$smallCircle: 20px;
$mediumCircle: $smallCircle * 2;
$largeCircle: $smallCircle * 2.5; 

$fontSize: $mediumFont;

 

