a {
  font-size: 1em;
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

form {
  text-align: left;
}

.form-container{
  display: flex;
  justify-content: center;
}

.nav-button {
  border: 1px solid lightgray;
  border-radius: 6px;
  margin-left: 6px;
  border-spacing: inherit;
  font-size: 20px;
  padding: 5px;
  background: #222;
  color: white;
}

.submit-button {
  display: flex;
  justify-content: center;
}
